body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #fceabb, #f8b500);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    background-color: #c600f8;
    color: navy;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.pet-image {
    display: block;
    margin: 30px auto 0;
    max-width: 100%;
    border-radius: 10px;
}
